<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760786799496-b3eppd3ffn9kb39jbb184j2lccflq60m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760786799496-b3eppd3ffn9kb39jbb184j2lccflq60m</string>
	<key>API_KEY</key>
	<string>AIzaSyAuGcjlwlA4zV5RaM30VUulJAG8EA-vt8c</string>
	<key>GCM_SENDER_ID</key>
	<string>760786799496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Home.NavigationApp</string>
	<key>PROJECT_ID</key>
	<string>navigationapp-29293</string>
	<key>STORAGE_BUCKET</key>
	<string>navigationapp-29293.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760786799496:ios:696b5f3c5a5f77dc50083d</string>
</dict>
</plist>